.container {
  margin-right: auto;
  margin-left: auto;
  /* margin right, left 설정으로 자동으로 가운데 정렬 */
  width: 100%;
  max-width: 1020px;
}

.page.container {
  margin-top: 80px;
  margin-bottom: 80px;
}
